@model Blog.Models.Post

@section Styles{
    @Html.Partial("_Styles")
}

@using (Html.BeginForm("AdicionaPost", "Home"))
{

    @Html.EditorFor(p => p)
    <button type="submit">Incluir</button>
}

@section Scripts{
    @Html.Partial("_Scripts")
}