
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NovoPost</title>
</head>
<body>
    <form action="/Home/AdicionaPost" method="POST">
        Título: <input type="text" name="titulo" /><br />
        Resumo: <input type="text" name="resumo" /><br />
        Categoria: <input type="text" name="categoria" /><br />
        <button type="submit">Ok</button>
    </form>
</body>
</html>
